/* 모바일화면 최적화 시켜보기 */
* {
 box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

html,
body,
#root,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 300;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-bottom: 70px;
  width: 80%;
}
 
.movies .movie {
  width:45%;
  background-color: ivory;
  margin-bottom: 70px;
  display: flex;
  text-align: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, alpha0.025);
}

.movie img{
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px; 
  height: 200px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, alpha0.025);
}

.movie .movie__title, .movie .movie__year {
  margin: 0;
  font-weight: 300;
}

.movie h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movie .movie__genres {
  list-style: none;
  padding:0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
}

.movie__genres li, .movie .movie__year{
  margin-right: 10px;
  font-size: 14px;
}